body {
    margin: 0;
    height: 100vh;
    background: rgb(247, 247, 247);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 200px;
    height: 100px;
    background: white;

    box-shadow: 0 0 3px rgba(96, 96, 96, .5);
}