<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>PiController</title>
        <link rel="stylesheet" th:href="styles.css">
    </head>
    <body>
        <div class="container"></div>
    </body>
</html>